      <nav class="navbar navbar-dark bg-secondary">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="https://image.flaticon.com/icons/png/512/21/21601.png" alt="Logo" style="width:80px; height: 80px; background-color: azure; border-radius: 40px;">
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/" style="margin: 15px 40px 0px 100px ; border-radius: 10px; color: #f07167; font-size: 30px;">News Sources</a></li>
            <li><a href="/News-Articles" style="margin: 15px 40px 0px 100px ; border-radius: 10px; color: #0081a7; font-size: 30px;">News Articles</a></li>
          </ul>
        </div>
      </nav>
