      <nav class="navbar navbar-dark bg-secondary">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="https://image.flaticon.com/icons/png/512/21/21601.png" alt="Logo" style="width:40px;">
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">News Sources</a></li>
            <li><a href="/News-Articles">News Articles</a></li>
          </ul>
          <button class="btn btn-danger navbar-btn">Button</button>
        </div>
      </nav>
